POSTGRES_PASSWORD=replace-with-a-long-random-password
POSTGRES_PORT=5447
WP_DB_PASSWORD=replace-with-a-different-long-random-password
WP_DB_ROOT_PASSWORD=replace-with-another-long-random-password
WORDPRESS_PORT=8097

